[Unit]
Description=Status board server
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/status-board
ExecStart=/opt/status-board/_build/default/server/bin/main.exe -cache-path /var/lib/status-board/cache -port 8080
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
