[Unit]
Description=Status board server
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=%h/status-board
ExecStart=%h/.local/bin/status-board -cache-path %h/.local/state/status-board/cache -port 8000
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
